* {
    margin: 0;
    padding: 0;
}

.navLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navImg {
    padding-bottom: 10px;
}

.navButton {
    margin: 5px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    color: white;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

.navButtonHover:hover{
    border-color: #646cff;
    color:white;
}

.divider {
    border-bottom: 3px solid;
    border-image: linear-gradient(90deg, #9c4f96, #ff6355, #fba949, #fae442, #8bd448, #2aa8f2) 1;
    margin: 10px 0;
}